<div id="aboutpage">
	<div id="ab_info">
	<h2> My Training and Experience </h2>
	I am a licensed clinical social worker having graduated with an MSS and an MLSP from Bryn Mawr College, School of Social Work and Social Research in 1983 followed by post-masters training in adult psychoanalysis.  I am a Certified Psychoanalyst.  Prior to that time, I attained a Bachelor of Social Work degree from Arizona State University.  I am currently on the faculty of the Psychoanalytic Center of Philadelphia and teach in the Adult Psychotherapy Program.  I teach in the Post Graduate Certificate Program at Bryn Mawr College School of Social Work and Social Research.
	<h2> My Areas of Focus </h2>
	Anxiety and Depression</br>
	Relationship Issues</br>
	Conflicts at home, school, or work</br>
	Self Esteem</br>
	Bereavement, loss, and other life transitions</br>
	Parenting
	<h2> How We Can Work Together </h2>
	We will establish a non-judgmental relationship that we can utilize to address conflicts and difficult emotions that arise in life and in treatment.  Our alliance can be thought of as a structure through which you become increasingly able to understand your innermost self.  Therapeutic change is achieved in several ways including:
	<ul>
		<li>Feeling you are not alone</li>
		<li>Viewing yourself and others from a new perspective</li>
		<li>Understanding why you are "stuck"</li>
		<li>Feeling understood</li>
		<li>Becoming less "hard" on yourself</li>
		<li>Resolving conflicts</li>
	</ul>
	</div>
</div>