<div id="aboutpage">
 	<div id="profile">
 		<img src="/assets/profile.jpg" />
 		<p> Miriam Field, MSS, MLSP, LCSW </p>
 		<p> 515 Howe Road </br> Merion Station, PA 19066 </p>
 		<p> 1601 Walnut Street </br> Suite 608 </br> Philadelphia, PA 19103 </p>
 		<p> 610 617 0730 </p>
 	</div>
 	<div id="title"> About </div>
	<div id="ab_info">
	<%= @abmessage.html_safe %>
	</div>
</div>