<div id="contactpage">
 	<div id="profile">
 		<img src="/assets/profile.jpg" />
 		<p> Miriam Field, MSS, MLSP, LCSW </p>
 		<p> Suite 608 Walnut Street </br> Philadelphia, PA 19103 </p>
 		<p> 610 617 0730 </p>
 	</div>
  	<div id="title"> Contact </div>
	<div id="cont_info">
		<%= @comessage.html_safe %>
	</div>
</div>