<div id="contactpage">

	<div id="cont_info">
		<h3> Phone </h3>
		610 617 0730
		<h3> Two Offices: </h3>
		<div id="offices">
			<div class="office">
				515 Howe Road</br>
				Merion, PA
			</div>
			<div class="office">
				1601 Walnut Street</br>
				Suite 608</br>
				Philadelphia, PA 19103
			</div>
		</div>
		<h3> Email </h3>
		<a href="mailto:mirfield7@gmail.com">mirfield7@gmail.com </a>
	</div>

</div>