 <div id="indexpage">
	<div id="letter">
		<h3> Hello, </h3>
		I am an experienced, licensed clinical social worker and psychoanalyst.  In consultation, you will be invited to make yourself as comfortable as possible and to speak freely.  I will listen and respond thoughtfully.  My approach is centered on you: what brought you to the office, your feelings, your conflicts, your relationships, your job, your background.  People know a great deal about themselves and I know you will convey your concerns in your own way.  Together we will move through a process focused on your issues. </br></br>
		- Miriam Field
	</div>
</div>