 <div id="indexpage">
 	<div id="profile">
 		<img src="/assets/profile.jpg" />
 		<p> Miriam Field, MSS, MLSP, LCSW </p>
 		<p> Suite 608 Walnut Street </br> Philadelphia, PA 19103 </p>
 		<p> 610 617 0730 </p>
 	</div>
	<div id="letter">
		<%= @homessage.html_safe %>
	</div>
</div>