<div id="resourcepage">
	<div id="res_info">
	We are all unique products of our environments, our past histories and our genetic endowments.  Thus, "one size" will never "fit all".  Therapy is a process of discovery.  To this endeavor I bring my years of experience, my education, my empathy, and my commitment to your growth.  I create a safe space where together we will address your concerns and build on your strengths.  Therapy is an opportunity to develop tools for coping and to get to know yourself better.  Greater self-knowledge will help you to make better decisions, to understand and manage your emotions more effectively, and to feel more in control of your life.

	</div>
</div>