<div id="servicepage">
	
	<div id="serv_desc"> 
		<h2> Services </h2>
		I offer psychotherapy and psychoanalysis to adolescents and adults.  I work with individuals and couples.  Our work is confidential and the highest standards of privacy are maintained.
		<h3> Fees </h3>
		Fees for services are individualized and based on a number of factors that can be considered.  You may call me to discuss fees before we begin.
		<h3> Insurance </h3>
		I am considered an out-of-network provider and will work with you to obtain reimbursement from your insurance company.
		<h3> License </h3>
		Pennsylvania CW000267L
	</div>




</div>