// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#profile {
	width: 250px;
	margin-left: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: .85em;
	color: #444;
	float: left;

	img {
		width: 250px;
	}
}

#title {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #333;
	margin-left: 325px;
}

#indexpage {
	padding-top: 20px;

	#letter {
		margin-top: 140px;
		font-family: 'Open Sans', sans-serif;
		color: #333;
		margin-left: 325px;
		width: 600px;
		font-size: 1em;
	}
}	

#aboutpage {
	padding: 20px 0px 40px 0px;

	#ab_info {
		font-family: 'Open Sans', sans-serif;
		color: #555;
		margin-top: 40px;
		margin-left: 325px;
		width: 600px;
		font-size: 1em;
	}
}

#servicepage {
	padding-top: 20px;

	#serv_desc {
		font-family: 'Open Sans', sans-serif;
		color: #555;
		margin-left: 325px;
		width: 600px;
		margin-top: 40px;
		font-size: 1em;
	}
}

#contactpage {
	padding-top: 20px;

	#cont_info {
		font-family: 'Open Sans', sans-serif;
		color: #555;
		margin-top: 80px;
		margin-left: 350px;

		#offices {
			width: 500px;
			height: 100px;

			.office {
				width: 200px;
				float: left;
			}
		}
	}
}
