<!DOCTYPE html>
<html>
<head>
  <title>Mfield</title>
  <link href='http://fonts.googleapis.com/css?family=Marcellus|Cinzel:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="/ckeditor/ckeditor.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	<a href="/welcome/index">
	<div id="navigation">
		<div id="logo" src="#" /> Miriam Field </div>
		<div id="classify"> Master of Social Service & Master of Law and Social Policy </br> Psychotherapist & Psychoanalyst </div>
	</div>
	</a>
	<div id="navlinks">
		<a href="/welcome/about"><div class="block">About</div></a>
		<a href="/welcome/services"><div class="block">Services</div></a>
		<a href="/welcome/contact"><div class="block">Contact</div></a>
	</div>

	<div id="content">
		<%= yield %>
	</div>

	<div id="footer">
	Copyright © 2013 Miriam Field
	</div>

	<script type="text/javascript">
	$(document).ready ->
	  $(document).on 'mousedown', '.save-action', (e) -> # triggers also when submitting form with enter
	    for instance of CKEDITOR.instances
	      editor = CKEDITOR.instances[instance]
	      if editor.checkDirty()
	        editor.updateElement();
	    return true;
	</script>

</body>
</html>
